.list{
  width: 50%;
  border-right: 1px solid #ccc;
  padding: 20px;
}
.list__header {
  font-size: 28px;
  color: #1a52a4;
  margin-left: 40px;
}
.list__subheader {
  font-size: 20px;
  color: #333;
  margin-left: 40px;
}
.list__generated-list {
  list-style-type: none;
}
.list__item {
  color: #333;
}
.list__item b {
  color: #999;
}